.nav-item {
    padding-right: 10px;
}

.detail-card {
    border: 1px solid black;
    min-height: 500px;
    background-color: white;
    padding-bottom: 50px;
}

.image-placeholder {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image-placeholder img {
    width: 200%;
    height: 200%;
    object-fit: contain;
}

.beschrijving-container {
    margin-left: 100px;
    
}

.beschrijving {
    border: 1px solid black;
    border-radius: 12px;
    padding: 15px 25px;
    width: 300px;

    min-height: 60px;
    height: auto;

    word-wrap: break-word;
}

main {
    width: 850px;
    margin: 50px auto;
    border: 1px solid black;
    display: flex;
    text-align: center;
}

.links {
    width: 250px;
}

.midden {
    width: 350px;
}

.rechts {
    width: 250px;
}

.links img {
    margin-bottom: 20px;
}

.rechts img {
    margin-bottom: 20px;
}